/*alle Farben*/
:root{
    --weiss:#fff;
    --schwarz:#000; 
    --dunkelgrau:#303030;
    --gelb:#cccc00;
    --blau:#0028ff;
    --rot:#ff0000;
    --gruen:#228b22;
    --hellgrau:#999999;
}


/*Das Farbenspektrum meines Kartenspiels*/
.blau{
    background-color: var(--blau);
    color: var(--weiss);
}
.gelb{
    background-color: var(--gelb);
    z-index: 0;
    color: var(--weiss);
}
.gruen{
    background-color: var(--gruen);
    color: var(--weiss);
}
.rot{
    background-color: var(--rot);
    color: var(--weiss);
}


/*Allgemeine Deklaration und Texte*/
body{
    background-color: var(--schwarz);
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--weiss);
    text-align: center;
    }
h1{
    text-decoration: var(--weiss);
}
#h3{
    background-color: var(--hellgrau);
    width: 110px;
    color: var(--schwarz);
    font-size: 12pt;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 800px;
    border-radius: 5px;
}
#h4{
    background-color: var(--dunkelgrau);
    width: 110px;
    font-size: 12pt;
    text-align: center;
    position: absolute;
    top: 120px;
    left: 550px;
    border-radius: 5px;
}


#Flowchart{
    background-color: var(--weiss);
    color: var(--schwarz);
    position: absolute;
    right: 20px;
    top: 50px;
    width: 100px;
    height: 20px;
}
a:hover, #Flowchart:hover{
    background-color: var(--gelb);
    color: var(--schwarz);
}
a{
    color: #000;
    text-decoration: none;
}




/*Spielkarten-Layout im Prinzip*/
.BasicKarte{
    width: 200px;
    height: 350px;
    background-color: var(--weiss);
    border-radius: 15px;
}


/*Station fuer Computerdeck*/
#ComputerKarten>div{
    width: 80px;
    height:120px;
    background-color: var(--weiss);
    position: relative;
    border-radius:10px ;
    display: inline-flex;
    margin: 10px;
    top: 100px;
}
#ComputerKarten>div>p{
    font-size: 20pt;
    color: var(--schwarz);
}
#ComputerKarten>div>i{
    font-size: 20pt;
    color: var(--schwarz);

}
#Back{
    width: 70px;
    height: 110px;
    border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    background-color: var(--hellgrau);
    top: 5px;
    left: 5px;
    position: relative;
}
    

/*Station fuer Karten in der Mitte zum ziehen und ablegen*/

#Ablagestapel>div{
    background-color: var(--weiss);
    width: 80px;
    height: 120px;
    border-radius: 5px;
    position: absolute;
    top: 380px;
    left: 700px;
    border: var(--weiss);
    text-align: center;
    color: var(--weiss);
}
#Ablagestapel>div>p{
    font-size: 20pt;
}
#Ziehkarten{
    background-color: var(--dunkelgrau);
    height: 120px;
    position: absolute;
    width: 80px;
    border-radius: 5px;
    left: 600px;
    top: 380px;
    text-align: center;
}




/*Station fuer Spielerdeck und*/
#SpielerKarten div{
    position: relative;
    width: 80px;
    height: 120px;
    border-radius: 10px;
    background:var(--weiss);
    display: inline-flex;
    margin: 10px;
    top: 400px;
}
#SpielerKarten>div:hover{
    width: 85px;
    height: 125px;
}

#SpielerKarten>div>p,#ComputerKarten>div>p{
    z-index: 2;
    font-size: 40pt;
    font-weight:bolder;
    top: -50px;
    left: 25px;
    text-align: center;
    position: relative;
    color:var(--schwarz);
}

#SpielerKarten>div>p>i, #ComputerKarten>div>p>i{
    z-index: 1;
    left: -50px;
    top: 50px;
    font-size: 20pt;
    position: relative;
}

#ComputerKarten>div:hover{
    opacity: 50%;
    /*senken der opacity um dem Spieler zu zeigen, 
    /*dass diese Karten fuer ihn nicht klickbar sind. */
}