@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");

body{
    background-color:#000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
#titel{
    font-size: 50pt;
    font-weight: bolder;
    left: 100px;
    position: relative;
}
#bla{
    background-color: #f00;
    left: 100px;
    padding: 5px;
    position: relative;
}
#schachtelEingabe{
    border: #fff;
    border-radius: 10px;
    padding-bottom: 2px;
    display: block;
    width: 390px;
    height: 25px;
    padding-left: 10px;
    padding-top: 5px;
    z-index: 0;
    position: relative;
    top: 20px;
    left: 100px;
    color: #fff;
    font-size: medium;
    border-style: solid;
    background-color: #000;
}

#schachtelEingabe:hover{
    width: 450px;
}
#trash,#circle{
    font-size: 15pt;
}
#circle{
    color: #518a56;
    float: left;
    padding-left:5px;
}
#trash{
    color: #f00;
    float: right;
    padding-right: 5px;
}
#schachtelAufgabe{
    border: 3px;
    border-color: #00990d;
    border-radius: 10px;
    display: block;
    width: 400px;
    height: 25px;
    padding-top: 5px;
    color: #fff;
    top: 40px;
    position: relative;
    left: 100px;
    border-style: solid;
}

#total{
    position: relative;
    left: 100px;
    display: flex;
}
#totalZahl{
    color: #f00;
    opacity: 50%;
    padding-left:3px;
    padding-right: 3px;
}
#erledigt{
    font-size: x-large;
    color: #000;
}
#loeschen{
    border: #f00;
    border-style: solid;
    padding: 15px;
    display: block;
    width: 150px;
    position: relative;
    top: 60px;
    left: 100px;
    background-color: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
#loeschen:hover{
    color: #000;
    background-color: #f00;
}
/* welches icon fuer den kreis? 
